/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 60%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* iframe {
  width: 50%;
  height: 100vh
} */