@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 95vw;
  height: 90vh;
  /* border: 1px solid red; */
}

.text {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 30%;
}

#mediaContainer {
  display: flex;
  justify-content: center;
  width: 60%;
  /* border: 1px solid blue; */
  
}

img,
iframe {
  width: 100%;
  object-fit: cover;
}




/******************************************
/* TYPOGRAPHY
/*******************************************/
h1,
h2,
button {
  font-family: 'Space Grotesk', sans-serif;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 3rem;
  line-height: 4rem;
}