@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  display: flex;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}


.container {
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2vh;
  width: 95vw;
  height: auto;
  flex-wrap: wrap;
  max-width: 1368px;

}

.container{
  border: 3px solid rgb(117,186,201);
  background-color: rgb(35,76,100,.8);
  border-radius: 30px;
  margin-top: 4vh;
  margin-bottom: 4vh;
  padding: 2rem;
  height: auto;
}

.text {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 36%;
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  align-self: center;
  
}
#mediaContainer {
  display: flex;
  justify-content: center;
  width: 60%;
  border-radius: 30px; 
}

nav {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  padding: 2rem;
}

img,
iframe {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}

#fullpage {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: black;
}


header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: row;
  align-self: center;
  
}

h1,
h2,
span {
  padding-bottom: 1rem;
}


.logo {
  display: inline-block;
  padding-right: 1rem;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nasa {
  width: 4rem;
  padding-right: 0.5rem;
}

.gh {
  width: 3rem;
  padding-right: 0.8rem;
}

.twitter {
  width: 2.5rem;
}
/******************************************
/* TYPOGRAPHY
/*******************************************/
h1,
h2,
p,
span,
button {
  font-family: 'Space Grotesk', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: #FC0 1px 0 10px;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

p {
  font-size: 1rem;
  line-height: 2rem;
  padding-right: 3vw;
}

/******************************************
/* MEDIA QUERIES
/*******************************************/




@media all and (max-width: 1439px) {
  .text {
    justify-content: center;
  }
  header {
    margin-bottom: 2rem;
  }

}

@media all and (max-width: 1024px) {
  .text {
    border: 0;
    background-color: transparent;
    border-radius: 0;
    margin-top:0;
    margin-bottom: 0;
    padding: 0;
  }
  
  body{
    background-repeat: repeat-y;
  }
}

@media all and (max-width: 768px) {
  .text {
    width: 35%;
  }

}

@media all and (max-width: 767px) {
  .container {
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90vw;
  }
  .text {
    width: 100%;
    margin-bottom: 2rem;
  }
  header {
    margin-bottom: 2.5rem;
    align-items: center;
  }
  #mediaContainer {
    width: 100%;
  }
  h1 {
    width: 90%;
    text-align: center;
  }
  .content {
    text-align: center;
  }
  .socials {
    display: none;
  }
  
}

@media all and (min-width: 2560px) {
  .container {
    align-self: center;
    max-height: 1000px;
  }
}

@media all and (min-width: 1024px) {
  #mediaContainer {
    max-height: 90%;
    
  }
  .container {
    height: auto;
  }
}